

<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.typekit.net/joe5xis.css">
    <link rel="stylesheet" type="text/css" href="{% static 'thrifter/css/style.css' %}">
</head>

<header>
    <div class="header_container">
        <a href="{% url 'thrifter:index'%}">Home</a>
        <a href="{% url 'thrifter:list_view'%}">Thrift</a>
        <a href="{% url 'thrifter:create'%}">Submit</a>

        {% if user.is_authenticated %}


        {% else %}
        {% comment %} <a href="{% url 'thrifter:signup' %}"> sign up </a> {% endcomment %}
        {% endif %}
        {% comment %} TODO: add if else statements for autthentication {% endcomment %}
        {% if authenticated %}
        <a href="{% url 'logout' %}">Logout </a>
        Welcome {{user.get_username}}
            {% else %}
                <a href="{% url 'login' %}">Login</a> 
        {% endif %}
        
    </div>
</header>
<body>
    <div class="container">
        {% block body %}{% endblock body %}
    </div>
<script src="{% static '/thrifter/js/index.js' %}"></script>

</body>
</html>