{% extends 'thrifter/base.html' %}
{% load static %}


{% block body %}

<div class="hero">
    <p id="red" class="hero_text">Where do you see the price?</p>
    <img src="{% static  'thrifter/images/red_car.png' %}" alt="red car parking" id='red_car'>
</div>

<form method="post" id='create_form'>
    {% csrf_token %}
    <div class="container_form">

        <table id = 'create_table'>
            {{form.as_table}}
        </table>
        <input type="submit" value="submit" id = 'create_submit_btn'>
    </form>
</div>

<img src="{% static 'thrifter/images/red_blob.png' %}" alt="red blob" id = 'red_blob'>

{% endblock body %}