{% extends 'thrifter/base.html' %}
{% load static %}


{% block body %}




<form  method = "GET" id='list_view_form'>
    {% comment %} TODO: fix wrong input error {% endcomment %}
        
    <div class= 'centered_question'>
        <label for="price_filter" id='price_question'>what is the price you are looking for?</label>
        <input type="text" name="max_price" id="max_price">
        
        <label for="city" id='city_question'>What city are you in?</label>
        <input type="text" name = 'city' id='city'>
        <button type="submit" value="submit" id = 'submit_list'>submit </button>
    </div>

</form>
<ul>
    {% for item in object_list %}
    <li class= 'list_ls'>
        <a href="#">{{item}}</a>
    </li>

    {% endfor %}

</ul>






{% endblock body %}