{% extends 'thrifter/base.html' %}



{% block body %}


<h2>this is list view from fucntions</h2>


<form  method = "GET">
    <label for="price_filter" id='price_question'>what is the price you are looking for?</label>
    <input type="text" name="max_price" id="max_price">

    {% comment %} <label for="city" id='city_question'>What city are you in?</label> {% endcomment %}
    {% comment %} <input type="text" name = 'city' id='city'> {% endcomment %}
    <input type="submit" value="submit" id = 'submit_list'>

</form>
<ul>
    {% for item in object_list %}
    <li>
        {{item}}
    </li>

    {% endfor %}

</ul>






{% endblock body %}