{% extends 'thrifter/base.html' %}



{% block body %}


<h2>this is list view from fucntions</h2>


<form  method = "GET">
    <label for="price_filter">what is the price you are looking for?</label>
    <input type="text" name="max_price" id="max_price">

    <label for="city">What city are you in?</label>
    <input type="text" name = 'city' id='city'>
    <input type="submit" value="submit">

</form>
<ul>
    {% for item in object_list %}
    <li>
        {{item}}
    </li>

    {% endfor %}

</ul>






{% endblock body %}