{% extends 'thrifter/base.html' %}
{% load static %}

{% block body %}

<div id= 'login_form'>

    <form method="POST">
        {% csrf_token %}

        {{form.username.label}} 
        <div class="input-group"> 
            {{form.username}} 
        </div> 

        {{form.password1.label}} 
        <div class="input-group">
            {{form.password1}} 
        </div> 
        confirm passowrd
        <div class="input-group"> 
            {{form.password2}} 
        </div> 
        <div>
            {% if password_mismatch %}
            <p>passwords don't match</p>
            {% endif %}
        </div>

        <input type="submit" value="sign up" id = 'sign_up_submit'>
        
        
        
    </form>
</div>
{% endblock body %}