* {
  font-family: "Basic Sans";
}

a {
  text-decoration: none;
}

#red {
  color: #FF4F5A;
}

#blue {
  color: #007CFF;
}

.header_container {
  min-width: 1024px;
  max-width: 75vw;
  margin: auto;
}

.header_container a {
  font-weight: 500;
  font-size: 20.5429px;
  line-height: 25px;
  color: #000000;
  text-decoration: none;
  padding-right: 47px;
}

.container {
  min-width: 1024px;
  max-width: 75vw;
  margin: auto;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.hero .hero_text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 495px;
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 115px;
  color: #007CFF;
  margin-bottom: 0.2em;
}

.hero #blue_car,
.hero #red_car {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  left: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

input {
  background: #FFFFFF;
  border-radius: 5px;
  width: 387px;
  height: 63px;
  border: none;
  font-weight: 500;
  padding-left: 0.3em;
  font-size: 29px;
  height: 1.8em;
  -webkit-filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.25));
}

#location {
  width: 387px;
}

#create_submit_btn {
  height: 5em;
}

.bottom_blob {
  position: fixed;
  bottom: 0;
  left: 0;
}

#blue_blob {
  height: 250px;
  margin-left: 25%;
}

#red_blob {
  position: absolute;
  right: 0;
}

#a_submit_price {
  position: fixed;
  bottom: 5%;
  margin-left: 13%;
  font-weight: 500;
  color: #FCFF00;
  font-size: 50px;
  max-width: 330px;
  color: #FCFF00;
}

#a_submit_price:hover {
  text-decoration: underline;
}

#create_form label {
  margin: 5px;
}

ul {
  padding: 0;
}

.centered_question {
  padding-top: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.list_ls, button {
  list-style: none;
  font-weight: 500;
  background: #FFFFFF;
  border-radius: 5px;
  min-height: 63px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding-top: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  font-weight: 500;
  font-size: 29px;
  -webkit-filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.25));
}

.list_ls a, button a {
  color: black;
}

#price_question {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: large;
  font-size: 56.5413px;
  line-height: 68px;
  color: #007CFF;
}

#list_view_form input {
  width: 20%;
}

#submit_list {
  width: 10%;
  margin-bottom: 1em;
  font-size: medium;
  color: white;
  background-color: #007CFF;
  font-weight: 500;
  font-size: large;
  padding-top: 0em;
  padding-bottom: 0em;
}

#login_form {
  margin-top: 5%;
  text-align: center;
}

#login_form form {
  display: inline-block;
}

.input-group {
  text-align: center;
  margin: 3em;
  margin-top: 0;
}

#sign_up_submit {
  background-color: #007CFF;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/*# sourceMappingURL=style.css.map */