$primary_color: #007CFF;
$primary_color_2: #FF4F5A;
$thick_font_weight: 700;
$accent_yellow: #FCFF00;



* {
    font-family: "Basic Sans";
}

a {
    text-decoration: none;
}

#red {
    color: $primary_color_2;
}

#blue {
    color: $primary_color
}


.header_container {
    min-width: 1024px;
    max-width: 75vw;

    margin: auto;

    a {

        font-weight: $thick_font_weight;
        font-size: 20.5429px;
        line-height: 25px;
        color: #000000;
        text-decoration: none;
        padding-right: 47px;
    }
}

.container {
    min-width: 1024px;
    max-width: 75vw;
    margin: auto;

}

.hero {
    display: flex;
    position: relative;

    .hero_text {
        flex: 1;
        min-width: 495px;
        font-style: normal;
        font-weight: $thick_font_weight;
        font-size: 96px;
        line-height: 115px;
        color: $primary_color;
        margin-bottom: 0.2em;
    }

    #blue_car,
    #red_car {
        flex: 1;
        left: 40px;
        object-fit: contain;
    }
}


input {
    background: #FFFFFF;
    border-radius: 5px;
    width: 387px;
    height: 63px;
    border: none;
    font-weight: $thick_font_weight;
    padding-left: 0.3em;
    font-size: 29px;
    height: 1.8em;
    filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.25));
}

#location {
    width: 387px;
}


#create_submit_btn {
    height: 1.2em;
    width:  3em;
}

.bottom_blob {
    position: fixed;
    bottom: 0;
    left: 0;
}

#blue_blob {
    height: 250px;
    margin-left: 25%;

}

#a_submit_price {
    position: fixed;
    bottom: 5%;
    margin-left: 13%;
    font-weight: $thick_font_weight;
    color: #FCFF00;
    font-size: 50px;
    max-width: 330px;
    color: $accent_yellow;
}

#a_submit_price:hover {
    text-decoration: underline;

}